.artist-profile {
  &-section {
    padding: 10px;
    &-header {
      font-weight: 600;
      font-size: 20px;
    }
    &-content {
      img {
        margin: 10px;
      }
    }
  }
}
.cursor-default {
  user-select: none;
}

.error-msg {
    color: red;
    margin-top: 0px !important;
}